// Magenta / 品红
$ucs-color-magenta: #F5319D !default;
$ucs-color-magenta-1: #FFE8F1 !default;
$ucs-color-magenta-2: #FDC2DB !default;
$ucs-color-magenta-3: #FB9DC7 !default;
$ucs-color-magenta-4: #F979B7 !default;
$ucs-color-magenta-5: #F754A8 !default;
$ucs-color-magenta-6: #F5319D !default;
$ucs-color-magenta-7: #CB1E83 !default;
$ucs-color-magenta-8: #A11069 !default;
$ucs-color-magenta-9: #77064F !default;
$ucs-color-magenta-10: #4D0034 !default;
