// Magenta / 品红
$ucs-color-magenta: #F5319D;
$ucs-color-magenta-1: #FFE8F1;
$ucs-color-magenta-2: #FDC2DB;
$ucs-color-magenta-3: #FB9DC7;
$ucs-color-magenta-4: #F979B7;
$ucs-color-magenta-5: #F754A8;
$ucs-color-magenta-6: #F5319D;
$ucs-color-magenta-7: #CB1E83;
$ucs-color-magenta-8: #A11069;
$ucs-color-magenta-9: #77064F;
$ucs-color-magenta-10: #4D0034;
