// Cyan / 碧涛青
$ucs-color-cyan: #14C9C9 !default;
$ucs-color-cyan-1: #E8FFFB !default;
$ucs-color-cyan-2: #B7F4EC !default;
$ucs-color-cyan-3: #89E9E0 !default;
$ucs-color-cyan-4: #5EDFD6 !default;
$ucs-color-cyan-5: #37D4CF !default;
$ucs-color-cyan-6: #14C9C9 !default;
$ucs-color-cyan-7: #0DA5AA !default;
$ucs-color-cyan-8: #07828B !default;
$ucs-color-cyan-9: #03616C !default;
$ucs-color-cyan-10: #00424D !default;
