@import "./var.scss";
/**
 * 背景色
 */
.bg-white{background-color: $ucs-color-white;}
.bg-black{background-color: $ucs-color-black;}
/**
 * 文本色
 */
.color-white{color: $ucs-color-white;}
.color-black{color: $ucs-color-black;}