// @import url('./scss/flex.scss');


// /* #ifndef UNI-APP-X */
// text{
// 	overflow-wrap: break-word;
// }
// view{
// 	box-sizing: border-box;
// 	overflow: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	position: relative;
// }
// /* #endif */

/**
 * 循环
 */
@for $i from 0 to 376{
	// .w-#{$i * 2}{width: $i * 2 + px;}
	// .w-min-#{$i * 2}{min-width: $i * 2 + px;}
	// .w-max-#{$i * 2}{max-width: $i * 2 + px;}

	// .h-#{$i * 2}{height: $i * 2 + px;}
	// .min-h-#{$i * 2}{min-height: $i * 2 + px;}
	// .max-h-#{$i * 2}{max-height: $i * 2 + px;}
}