@import "./colors/index.scss";
@import "./scss/justify-content.scss";
@import "./scss/align-items.scss";
@import "./scss/align-self.scss";
@import "./scss/border-width.scss";
@import "./scss/border-style.scss";
@import "./scss/border-radius.scss";
@import "./scss/box-sizing.scss";
@import "./scss/display.scss";
@import "./scss/flex.scss";
@import "./scss/flex-direction.scss";
@import "./scss/flex-wrap.scss";
@import "./scss/font-size.scss";
@import "./scss/font-style.scss";
@import "./scss/font-weight.scss";
@import "./scss/height.scss";
@import "./scss/inset.scss";
@import "./scss/justify-content.scss";
@import "./scss/letter-spacing.scss";
@import "./scss/line-height.scss";
@import "./scss/lines.scss";
@import "./scss/margin.scss";
@import "./scss/opacity.scss";
@import "./scss/overflow.scss";
@import "./scss/paddimg.scss";
@import "./scss/position.scss";
@import "./scss/text-align.scss";
@import "./scss/text-decoration-line.scss";
@import "./scss/text-overflow.scss";
@import "./scss/visibility.scss";
@import "./scss/white-space.scss";
@import "./scss/width.scss";
@import "./scss/z-index.scss";