// 主题
$ucs-color-primary: #604CFC !default;
$ucs-color-primary-1: #EFE8FF !default;
$ucs-color-primary-2: #D6C9FE !default;
$ucs-color-primary-3: #BCA9FE !default;
$ucs-color-primary-4: #9F8AFD !default;
$ucs-color-primary-5: #816BFD !default;
$ucs-color-primary-6: #604CFC !default;
$ucs-color-primary-7: #3C2FD0 !default;
$ucs-color-primary-8: #2019A4 !default;
$ucs-color-primary-9: #0B0978 !default;
$ucs-color-primary-10: #00014D !default;
// 成功
$ucs-color-success: #07C160 !default;
$ucs-color-success-1: #E8FFEF !default;
$ucs-color-success-2: #B2F3C9 !default;
$ucs-color-success-3: #81E6A8 !default;
$ucs-color-success-4: #54DA8C !default;
$ucs-color-success-5: #2BCD74 !default;
$ucs-color-success-6: #07C160 !default;
$ucs-color-success-7: #04A457 !default;
$ucs-color-success-8: #02874B !default;
$ucs-color-success-9: #016A3E !default;
$ucs-color-success-10: #004D2F !default;
// 警告
$ucs-color-warning: #EDA20C !default;
$ucs-color-warning-1: #FFFBE8 !default;
$ucs-color-warning-2: #FBEEBA !default;
$ucs-color-warning-3: #F8DF8C !default;
$ucs-color-warning-4: #F4CD60 !default;
$ucs-color-warning-5: #F1B836 !default;
$ucs-color-warning-6: #EDA20C !default;
$ucs-color-warning-7: #C57F07 !default;
$ucs-color-warning-8: #9D6004 !default;
$ucs-color-warning-9: #754301 !default;
$ucs-color-warning-10: #4D2900 !default;
// 危险
$ucs-color-danger: #D9514C !default;
$ucs-color-danger-1: #FFEDE8 !default;
$ucs-color-danger-2: #F7CEC5 !default;
$ucs-color-danger-3: #F0AFA5 !default;
$ucs-color-danger-4: #E88F85 !default;
$ucs-color-danger-5: #E17068 !default;
$ucs-color-danger-6: #D9514C !default;
$ucs-color-danger-7: #B63030 !default;
$ucs-color-danger-8: #931A1E !default;
$ucs-color-danger-9: #700A11 !default;
$ucs-color-danger-10: #4D0008 !default;

// 中性灰
$ucs-color-grey: #a9aeb8 !default;
$ucs-color-grey-1: #ffffff !default;
$ucs-color-grey-2: #f7f8fa !default;
$ucs-color-grey-3: #f2f3f5 !default;
$ucs-color-grey-4: #e5e6eb !default;
$ucs-color-grey-5: #c9cdd4 !default;
$ucs-color-grey-6: #a9aeb8 !default;
$ucs-color-grey-7: #86909c !default;
$ucs-color-grey-8: #6b7785 !default;
$ucs-color-grey-9: #4e5969 !default;
$ucs-color-grey-10: #272e3b !default;
$ucs-color-grey-11: #1d2129 !default;
$ucs-color-grey-12: #141414 !default;