// Danger / 危险
$ucs-color-danger: #D9514C !default;
$ucs-color-danger-1: #FFEDE8 !default;
$ucs-color-danger-2: #F7CEC5 !default;
$ucs-color-danger-3: #F0AFA5 !default;
$ucs-color-danger-4: #E88F85 !default;
$ucs-color-danger-5: #E17068 !default;
$ucs-color-danger-6: #D9514C !default;
$ucs-color-danger-7: #B63030 !default;
$ucs-color-danger-8: #931A1E !default;
$ucs-color-danger-9: #700A11 !default;
$ucs-color-danger-10: #4D0008 !default;
