// Green / 仙野绿
$ucs-color-green: #00B42A !default;
$ucs-color-green-1: #E8FFEA !default;
$ucs-color-green-2: #AFF0B5 !default;
$ucs-color-green-3: #7BE188 !default;
$ucs-color-green-4: #4CD263 !default;
$ucs-color-green-5: #23C343 !default;
$ucs-color-green-6: #00B42A !default;
$ucs-color-green-7: #009A29 !default;
$ucs-color-green-8: #008026 !default;
$ucs-color-green-9: #006622 !default;
$ucs-color-green-10: #004D1C !default;
