.bg-primary{background-color: $ucs-color-primary;}
.bg-primary-1{background-color: $ucs-color-primary-1;}
.bg-primary-2{background-color: $ucs-color-primary-2;}
.bg-primary-3{background-color: $ucs-color-primary-3;}
.bg-primary-4{background-color: $ucs-color-primary-4;}
.bg-primary-5{background-color: $ucs-color-primary-5;}
.bg-primary-6{background-color: $ucs-color-primary-6;}
.bg-primary-7{background-color: $ucs-color-primary-7;}
.bg-primary-8{background-color: $ucs-color-primary-8;}
.bg-primary-9{background-color: $ucs-color-primary-9;}
.bg-primary-10{background-color: $ucs-color-primary-10;}

.bg-success{background-color: $ucs-color-success;}
.bg-success-1{background-color: $ucs-color-success-1;}
.bg-success-2{background-color: $ucs-color-success-2;}
.bg-success-3{background-color: $ucs-color-success-3;}
.bg-success-4{background-color: $ucs-color-success-4;}
.bg-success-5{background-color: $ucs-color-success-5;}
.bg-success-6{background-color: $ucs-color-success-6;}
.bg-success-7{background-color: $ucs-color-success-7;}
.bg-success-8{background-color: $ucs-color-success-8;}
.bg-success-9{background-color: $ucs-color-success-9;}
.bg-success-10{background-color: $ucs-color-success-10;}

.bg-warning{background-color: $ucs-color-warning;}
.bg-warning-1{background-color: $ucs-color-warning-1;}
.bg-warning-2{background-color: $ucs-color-warning-2;}
.bg-warning-3{background-color: $ucs-color-warning-3;}
.bg-warning-4{background-color: $ucs-color-warning-4;}
.bg-warning-5{background-color: $ucs-color-warning-5;}
.bg-warning-6{background-color: $ucs-color-warning-6;}
.bg-warning-7{background-color: $ucs-color-warning-7;}
.bg-warning-8{background-color: $ucs-color-warning-8;}
.bg-warning-9{background-color: $ucs-color-warning-9;}
.bg-warning-10{background-color: $ucs-color-warning-10;}

.bg-danger{background-color: $ucs-color-danger;}
.bg-danger-1{background-color: $ucs-color-danger-1;}
.bg-danger-2{background-color: $ucs-color-danger-2;}
.bg-danger-3{background-color: $ucs-color-danger-3;}
.bg-danger-4{background-color: $ucs-color-danger-4;}
.bg-danger-5{background-color: $ucs-color-danger-5;}
.bg-danger-6{background-color: $ucs-color-danger-6;}
.bg-danger-7{background-color: $ucs-color-danger-7;}
.bg-danger-8{background-color: $ucs-color-danger-8;}
.bg-danger-9{background-color: $ucs-color-danger-9;}
.bg-danger-10{background-color: $ucs-color-danger-10;}

.bg-grey{background-color: $ucs-color-grey;}
.bg-grey-1{background-color: $ucs-color-grey-1;}
.bg-grey-2{background-color: $ucs-color-grey-2;}
.bg-grey-3{background-color: $ucs-color-grey-3;}
.bg-grey-4{background-color: $ucs-color-grey-4;}
.bg-grey-5{background-color: $ucs-color-grey-5;}
.bg-grey-6{background-color: $ucs-color-grey-6;}
.bg-grey-7{background-color: $ucs-color-grey-7;}
.bg-grey-8{background-color: $ucs-color-grey-8;}
.bg-grey-9{background-color: $ucs-color-grey-9;}
.bg-grey-10{background-color: $ucs-color-grey-10;}
.bg-grey-11{background-color: $ucs-color-grey-11;}
.bg-grey-12{background-color: $ucs-color-grey-12;}