.border-r-primary{border-right-color: $ucs-color-primary;}
.border-r-primary-1{border-right-color: $ucs-color-primary-1;}
.border-r-primary-2{border-right-color: $ucs-color-primary-2;}
.border-r-primary-3{border-right-color: $ucs-color-primary-3;}
.border-r-primary-4{border-right-color: $ucs-color-primary-4;}
.border-r-primary-5{border-right-color: $ucs-color-primary-5;}
.border-r-primary-6{border-right-color: $ucs-color-primary-6;}
.border-r-primary-7{border-right-color: $ucs-color-primary-7;}
.border-r-primary-8{border-right-color: $ucs-color-primary-8;}
.border-r-primary-9{border-right-color: $ucs-color-primary-9;}
.border-r-primary-10{border-right-color: $ucs-color-primary-10;}

.border-r-success{border-right-color: $ucs-color-success;}
.border-r-success-1{border-right-color: $ucs-color-success-1;}
.border-r-success-2{border-right-color: $ucs-color-success-2;}
.border-r-success-3{border-right-color: $ucs-color-success-3;}
.border-r-success-4{border-right-color: $ucs-color-success-4;}
.border-r-success-5{border-right-color: $ucs-color-success-5;}
.border-r-success-6{border-right-color: $ucs-color-success-6;}
.border-r-success-7{border-right-color: $ucs-color-success-7;}
.border-r-success-8{border-right-color: $ucs-color-success-8;}
.border-r-success-9{border-right-color: $ucs-color-success-9;}
.border-r-success-10{border-right-color: $ucs-color-success-10;}

.border-r-warning{border-right-color: $ucs-color-warning;}
.border-r-warning-1{border-right-color: $ucs-color-warning-1;}
.border-r-warning-2{border-right-color: $ucs-color-warning-2;}
.border-r-warning-3{border-right-color: $ucs-color-warning-3;}
.border-r-warning-4{border-right-color: $ucs-color-warning-4;}
.border-r-warning-5{border-right-color: $ucs-color-warning-5;}
.border-r-warning-6{border-right-color: $ucs-color-warning-6;}
.border-r-warning-7{border-right-color: $ucs-color-warning-7;}
.border-r-warning-8{border-right-color: $ucs-color-warning-8;}
.border-r-warning-9{border-right-color: $ucs-color-warning-9;}
.border-r-warning-10{border-right-color: $ucs-color-warning-10;}

.border-r-danger{border-right-color: $ucs-color-danger;}
.border-r-danger-1{border-right-color: $ucs-color-danger-1;}
.border-r-danger-2{border-right-color: $ucs-color-danger-2;}
.border-r-danger-3{border-right-color: $ucs-color-danger-3;}
.border-r-danger-4{border-right-color: $ucs-color-danger-4;}
.border-r-danger-5{border-right-color: $ucs-color-danger-5;}
.border-r-danger-6{border-right-color: $ucs-color-danger-6;}
.border-r-danger-7{border-right-color: $ucs-color-danger-7;}
.border-r-danger-8{border-right-color: $ucs-color-danger-8;}
.border-r-danger-9{border-right-color: $ucs-color-danger-9;}
.border-r-danger-10{border-right-color: $ucs-color-danger-10;}

.border-r-grey{border-right-color: $ucs-color-grey;}
.border-r-grey-1{border-right-color: $ucs-color-grey-1;}
.border-r-grey-2{border-right-color: $ucs-color-grey-2;}
.border-r-grey-3{border-right-color: $ucs-color-grey-3;}
.border-r-grey-4{border-right-color: $ucs-color-grey-4;}
.border-r-grey-5{border-right-color: $ucs-color-grey-5;}
.border-r-grey-6{border-right-color: $ucs-color-grey-6;}
.border-r-grey-7{border-right-color: $ucs-color-grey-7;}
.border-r-grey-8{border-right-color: $ucs-color-grey-8;}
.border-r-grey-9{border-right-color: $ucs-color-grey-9;}
.border-r-grey-10{border-right-color: $ucs-color-grey-10;}
.border-r-grey-11{border-right-color: $ucs-color-grey-11;}
.border-r-grey-12{border-right-color: $ucs-color-grey-12;}

.border-r-gray{border-right-color: $ucs-color-gray;}
.border-r-gray-1{border-right-color: $ucs-color-gray-1;}
.border-r-gray-2{border-right-color: $ucs-color-gray-2;}
.border-r-gray-3{border-right-color: $ucs-color-gray-3;}
.border-r-gray-4{border-right-color: $ucs-color-gray-4;}
.border-r-gray-5{border-right-color: $ucs-color-gray-5;}
.border-r-gray-6{border-right-color: $ucs-color-gray-6;}
.border-r-gray-7{border-right-color: $ucs-color-gray-7;}
.border-r-gray-8{border-right-color: $ucs-color-gray-8;}
.border-r-gray-9{border-right-color: $ucs-color-gray-9;}
.border-r-gray-10{border-right-color: $ucs-color-gray-10;}
.border-r-gray-11{border-right-color: $ucs-color-gray-11;}
.border-r-gray-12{border-right-color: $ucs-color-gray-12;}