.border-b-primary{border-bottom-color: $ucs-color-primary;}
.border-b-primary-1{border-bottom-color: $ucs-color-primary-1;}
.border-b-primary-2{border-bottom-color: $ucs-color-primary-2;}
.border-b-primary-3{border-bottom-color: $ucs-color-primary-3;}
.border-b-primary-4{border-bottom-color: $ucs-color-primary-4;}
.border-b-primary-5{border-bottom-color: $ucs-color-primary-5;}
.border-b-primary-6{border-bottom-color: $ucs-color-primary-6;}
.border-b-primary-7{border-bottom-color: $ucs-color-primary-7;}
.border-b-primary-8{border-bottom-color: $ucs-color-primary-8;}
.border-b-primary-9{border-bottom-color: $ucs-color-primary-9;}
.border-b-primary-10{border-bottom-color: $ucs-color-primary-10;}

.border-b-success{border-bottom-color: $ucs-color-success;}
.border-b-success-1{border-bottom-color: $ucs-color-success-1;}
.border-b-success-2{border-bottom-color: $ucs-color-success-2;}
.border-b-success-3{border-bottom-color: $ucs-color-success-3;}
.border-b-success-4{border-bottom-color: $ucs-color-success-4;}
.border-b-success-5{border-bottom-color: $ucs-color-success-5;}
.border-b-success-6{border-bottom-color: $ucs-color-success-6;}
.border-b-success-7{border-bottom-color: $ucs-color-success-7;}
.border-b-success-8{border-bottom-color: $ucs-color-success-8;}
.border-b-success-9{border-bottom-color: $ucs-color-success-9;}
.border-b-success-10{border-bottom-color: $ucs-color-success-10;}

.border-b-warning{border-bottom-color: $ucs-color-warning;}
.border-b-warning-1{border-bottom-color: $ucs-color-warning-1;}
.border-b-warning-2{border-bottom-color: $ucs-color-warning-2;}
.border-b-warning-3{border-bottom-color: $ucs-color-warning-3;}
.border-b-warning-4{border-bottom-color: $ucs-color-warning-4;}
.border-b-warning-5{border-bottom-color: $ucs-color-warning-5;}
.border-b-warning-6{border-bottom-color: $ucs-color-warning-6;}
.border-b-warning-7{border-bottom-color: $ucs-color-warning-7;}
.border-b-warning-8{border-bottom-color: $ucs-color-warning-8;}
.border-b-warning-9{border-bottom-color: $ucs-color-warning-9;}
.border-b-warning-10{border-bottom-color: $ucs-color-warning-10;}

.border-b-danger{border-bottom-color: $ucs-color-danger;}
.border-b-danger-1{border-bottom-color: $ucs-color-danger-1;}
.border-b-danger-2{border-bottom-color: $ucs-color-danger-2;}
.border-b-danger-3{border-bottom-color: $ucs-color-danger-3;}
.border-b-danger-4{border-bottom-color: $ucs-color-danger-4;}
.border-b-danger-5{border-bottom-color: $ucs-color-danger-5;}
.border-b-danger-6{border-bottom-color: $ucs-color-danger-6;}
.border-b-danger-7{border-bottom-color: $ucs-color-danger-7;}
.border-b-danger-8{border-bottom-color: $ucs-color-danger-8;}
.border-b-danger-9{border-bottom-color: $ucs-color-danger-9;}
.border-b-danger-10{border-bottom-color: $ucs-color-danger-10;}

.border-b-grey{border-bottom-color: $ucs-color-grey;}
.border-b-grey-1{border-bottom-color: $ucs-color-grey-1;}
.border-b-grey-2{border-bottom-color: $ucs-color-grey-2;}
.border-b-grey-3{border-bottom-color: $ucs-color-grey-3;}
.border-b-grey-4{border-bottom-color: $ucs-color-grey-4;}
.border-b-grey-5{border-bottom-color: $ucs-color-grey-5;}
.border-b-grey-6{border-bottom-color: $ucs-color-grey-6;}
.border-b-grey-7{border-bottom-color: $ucs-color-grey-7;}
.border-b-grey-8{border-bottom-color: $ucs-color-grey-8;}
.border-b-grey-9{border-bottom-color: $ucs-color-grey-9;}
.border-b-grey-10{border-bottom-color: $ucs-color-grey-10;}
.border-b-grey-11{border-bottom-color: $ucs-color-grey-11;}
.border-b-grey-12{border-bottom-color: $ucs-color-grey-12;}