.border{border-width: 1px;}
.border-0{border-width: 0px;}
.border-1{border-width: 1px;}
.border-2{border-width: 2px;}
.border-3{border-width: 3px;}
.border-4{border-width: 4px;}
.border-5{border-width: 5px;}
.border-6{border-width: 6px;}
.border-7{border-width: 7px;}
.border-8{border-width: 8px;}
.border-9{border-width: 9px;}
.border-10{border-width: 10px;}

.border-t{border-top-width: 1px;}
.border-t-0{border-top-width: 0px;}
.border-t-1{border-top-width: 1px;}
.border-t-2{border-top-width: 2px;}
.border-t-3{border-top-width: 3px;}
.border-t-4{border-top-width: 4px;}
.border-t-5{border-top-width: 5px;}
.border-t-6{border-top-width: 6px;}
.border-t-7{border-top-width: 7px;}
.border-t-8{border-top-width: 8px;}
.border-t-9{border-top-width: 9px;}
.border-t-10{border-top-width: 10px;}

.border-b{border-bottom-width: 1px;}
.border-b-0{border-bottom-width: 0px;}
.border-b-1{border-bottom-width: 1px;}
.border-b-2{border-bottom-width: 2px;}
.border-b-3{border-bottom-width: 3px;}
.border-b-4{border-bottom-width: 4px;}
.border-b-5{border-bottom-width: 5px;}
.border-b-6{border-bottom-width: 6px;}
.border-b-7{border-bottom-width: 7px;}
.border-b-8{border-bottom-width: 8px;}
.border-b-9{border-bottom-width: 9px;}
.border-b-10{border-bottom-width: 10px;}

.border-l{border-left-width: 1px;}
.border-l-0{border-left-width: 0px;}
.border-l-1{border-left-width: 1px;}
.border-l-2{border-left-width: 2px;}
.border-l-3{border-left-width: 3px;}
.border-l-4{border-left-width: 4px;}
.border-l-5{border-left-width: 5px;}
.border-l-6{border-left-width: 6px;}
.border-l-7{border-left-width: 7px;}
.border-l-8{border-left-width: 8px;}
.border-l-9{border-left-width: 9px;}
.border-l-10{border-left-width: 10px;}

.border-r{border-right-width: 1px;}
.border-r-0{border-right-width: 0px;}
.border-r-1{border-right-width: 1px;}
.border-r-2{border-right-width: 2px;}
.border-r-3{border-right-width: 3px;}
.border-r-4{border-right-width: 4px;}
.border-r-5{border-right-width: 5px;}
.border-r-6{border-right-width: 6px;}
.border-r-7{border-right-width: 7px;}
.border-r-8{border-right-width: 8px;}
.border-r-9{border-right-width: 9px;}
.border-r-10{border-right-width: 10px;}

.border-x{border-right-width: 1px;border-left-width: 1px;}
.border-x-0{border-right-width: 0px;border-left-width: 0px;}
.border-x-1{border-right-width: 1px;border-left-width: 1px;}
.border-x-2{border-right-width: 2px;border-left-width: 2px;}
.border-x-3{border-right-width: 3px;border-left-width: 3px;}
.border-x-4{border-right-width: 4px;border-left-width: 4px;}
.border-x-5{border-right-width: 5px;border-left-width: 5px;}
.border-x-6{border-right-width: 6px;border-left-width: 6px;}
.border-x-7{border-right-width: 7px;border-left-width: 7px;}
.border-x-8{border-right-width: 8px;border-left-width: 8px;}
.border-x-9{border-right-width: 9px;border-left-width: 9px;}
.border-x-10{border-right-width: 10px;border-left-width: 10px;}

.border-y{border-bottom-width: 1px;border-top-width: 1px;}
.border-y-0{border-bottom-width: 0px;border-top-width: 0px;}
.border-y-1{border-bottom-width: 1px;border-top-width: 1px;}
.border-y-2{border-bottom-width: 2px;border-top-width: 2px;}
.border-y-3{border-bottom-width: 3px;border-top-width: 3px;}
.border-y-4{border-bottom-width: 4px;border-top-width: 4px;}
.border-y-5{border-bottom-width: 5px;border-top-width: 5px;}
.border-y-6{border-bottom-width: 6px;border-top-width: 6px;}
.border-y-7{border-bottom-width: 7px;border-top-width: 7px;}
.border-y-8{border-bottom-width: 8px;border-top-width: 8px;}
.border-y-9{border-bottom-width: 9px;border-top-width: 9px;}
.border-y-10{border-bottom-width: 10px;border-top-width: 10px;}