.border-primary{border-color: $ucs-color-primary;}
.border-primary-1{border-color: $ucs-color-primary-1;}
.border-primary-2{border-color: $ucs-color-primary-2;}
.border-primary-3{border-color: $ucs-color-primary-3;}
.border-primary-4{border-color: $ucs-color-primary-4;}
.border-primary-5{border-color: $ucs-color-primary-5;}
.border-primary-6{border-color: $ucs-color-primary-6;}
.border-primary-7{border-color: $ucs-color-primary-7;}
.border-primary-8{border-color: $ucs-color-primary-8;}
.border-primary-9{border-color: $ucs-color-primary-9;}
.border-primary-10{border-color: $ucs-color-primary-10;}

.border-success{border-color: $ucs-color-success;}
.border-success-1{border-color: $ucs-color-success-1;}
.border-success-2{border-color: $ucs-color-success-2;}
.border-success-3{border-color: $ucs-color-success-3;}
.border-success-4{border-color: $ucs-color-success-4;}
.border-success-5{border-color: $ucs-color-success-5;}
.border-success-6{border-color: $ucs-color-success-6;}
.border-success-7{border-color: $ucs-color-success-7;}
.border-success-8{border-color: $ucs-color-success-8;}
.border-success-9{border-color: $ucs-color-success-9;}
.border-success-10{border-color: $ucs-color-success-10;}

.border-warning{border-color: $ucs-color-warning;}
.border-warning-1{border-color: $ucs-color-warning-1;}
.border-warning-2{border-color: $ucs-color-warning-2;}
.border-warning-3{border-color: $ucs-color-warning-3;}
.border-warning-4{border-color: $ucs-color-warning-4;}
.border-warning-5{border-color: $ucs-color-warning-5;}
.border-warning-6{border-color: $ucs-color-warning-6;}
.border-warning-7{border-color: $ucs-color-warning-7;}
.border-warning-8{border-color: $ucs-color-warning-8;}
.border-warning-9{border-color: $ucs-color-warning-9;}
.border-warning-10{border-color: $ucs-color-warning-10;}

.border-danger{border-color: $ucs-color-danger;}
.border-danger-1{border-color: $ucs-color-danger-1;}
.border-danger-2{border-color: $ucs-color-danger-2;}
.border-danger-3{border-color: $ucs-color-danger-3;}
.border-danger-4{border-color: $ucs-color-danger-4;}
.border-danger-5{border-color: $ucs-color-danger-5;}
.border-danger-6{border-color: $ucs-color-danger-6;}
.border-danger-7{border-color: $ucs-color-danger-7;}
.border-danger-8{border-color: $ucs-color-danger-8;}
.border-danger-9{border-color: $ucs-color-danger-9;}
.border-danger-10{border-color: $ucs-color-danger-10;}

.border-grey{border-color: $ucs-color-grey;}
.border-grey-1{border-color: $ucs-color-grey-1;}
.border-grey-2{border-color: $ucs-color-grey-2;}
.border-grey-3{border-color: $ucs-color-grey-3;}
.border-grey-4{border-color: $ucs-color-grey-4;}
.border-grey-5{border-color: $ucs-color-grey-5;}
.border-grey-6{border-color: $ucs-color-grey-6;}
.border-grey-7{border-color: $ucs-color-grey-7;}
.border-grey-8{border-color: $ucs-color-grey-8;}
.border-grey-9{border-color: $ucs-color-grey-9;}
.border-grey-10{border-color: $ucs-color-grey-10;}
.border-grey-11{border-color: $ucs-color-grey-11;}
.border-grey-12{border-color: $ucs-color-grey-12;}