.spacing--10 {
	letter-spacing: -10px;
}
.spacing--9 {
	letter-spacing: -9px;
}
.spacing--8 {
	letter-spacing: -8px;
}
.spacing--7 {
	letter-spacing: -7px;
}
.spacing--6 {
	letter-spacing: -6px;
}
.spacing--5 {
	letter-spacing: -5px;
}
.spacing--4 {
	letter-spacing: -4px;
}
.spacing--3 {
	letter-spacing: -3px;
}
.spacing--2 {
	letter-spacing: -2px;
}
.spacing--1 {
	letter-spacing: -1px;
}
.spacing-0 {
	letter-spacing: 0;
}
.spacing-1 {
	letter-spacing: 1px;
}
.spacing-2 {
	letter-spacing: 2px;
}
.spacing-3 {
	letter-spacing: 3px;
}
.spacing-4 {
	letter-spacing: 4px;
}
.spacing-5 {
	letter-spacing: 5px;
}
.spacing-6 {
	letter-spacing: 6px;
}
.spacing-7 {
	letter-spacing: 7px;
}
.spacing-8 {
	letter-spacing: 8px;
}
.spacing-9 {
	letter-spacing: 9px;
}
.spacing-10 {
	letter-spacing: 10px;
}