.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}
/* #ifdef UNI-APP-X */
/* #ifndef APP */
.sticky{
	position: sticky;
}

.static{
	position: static;
}
/* #endif */
/* #endif */
/* #ifndef UNI-APP-X */
.sticky{
	position: sticky;
}

.static{
	position: static;
}
/* #endif */