.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.z-3 {
	z-index: 3;
}

.z-4 {
	z-index: 4;
}

.z-5 {
	z-index: 5;
}

.z-6 {
	z-index: 6;
}

.z-7 {
	z-index: 7;
}

.z-8 {
	z-index: 8;
}

.z-9 {
	z-index: 9;
}

.z-10 {
	z-index: 10;
}

.z-990 {
	z-index: 990;
}

.z-991 {
	z-index: 991;
}

.z-992 {
	z-index: 992;
}

.z-993 {
	z-index: 993;
}

.z-994 {
	z-index: 994;
}

.z-995 {
	z-index: 995;
}

.z-996 {
	z-index: 996;
}

.z-997 {
	z-index: 997;
}

.z-998 {
	z-index: 998;
}

.z-999 {
	z-index: 999;
}


// 2024-11-1 新增样式

.z--1 {
	z-index: -1;
}

.z--2 {
	z-index: -2;
}

.z--3 {
	z-index: -3;
}

.z--4 {
	z-index: -4;
}

.z--5 {
	z-index: -5;
}

.z--6 {
	z-index: -6;
}

.z--7 {
	z-index: -7;
}

.z--8 {
	z-index: -8;
}

.z--9 {
	z-index: -9;
}

.z--10 {
	z-index: -10;
}
