@import "./var.scss";
/**
 * 背景色
 */
.bg-purple{background-color: $ucs-color-purple;}
.bg-purple-1{background-color: $ucs-color-purple-1;}
.bg-purple-2{background-color: $ucs-color-purple-2;}
.bg-purple-3{background-color: $ucs-color-purple-3;}
.bg-purple-4{background-color: $ucs-color-purple-4;}
.bg-purple-5{background-color: $ucs-color-purple-5;}
.bg-purple-6{background-color: $ucs-color-purple-6;}
.bg-purple-7{background-color: $ucs-color-purple-7;}
.bg-purple-8{background-color: $ucs-color-purple-8;}
.bg-purple-9{background-color: $ucs-color-purple-9;}
.bg-purple-10{background-color: $ucs-color-purple-10;}
/**
 * 文本色
 */
.color-purple{color: $ucs-color-purple;}
.color-purple-1{color: $ucs-color-purple-1;}
.color-purple-2{color: $ucs-color-purple-2;}
.color-purple-3{color: $ucs-color-purple-3;}
.color-purple-4{color: $ucs-color-purple-4;}
.color-purple-5{color: $ucs-color-purple-5;}
.color-purple-6{color: $ucs-color-purple-6;}
.color-purple-7{color: $ucs-color-purple-7;}
.color-purple-8{color: $ucs-color-purple-8;}
.color-purple-9{color: $ucs-color-purple-9;}
.color-purple-10{color: $ucs-color-purple-10;}
/**
 * 边框色
 */
.border-purple{border-color: $ucs-color-purple;}
.border-purple-1{border-color: $ucs-color-purple-1;}
.border-purple-2{border-color: $ucs-color-purple-2;}
.border-purple-3{border-color: $ucs-color-purple-3;}
.border-purple-4{border-color: $ucs-color-purple-4;}
.border-purple-5{border-color: $ucs-color-purple-5;}
.border-purple-6{border-color: $ucs-color-purple-6;}
.border-purple-7{border-color: $ucs-color-purple-7;}
.border-purple-8{border-color: $ucs-color-purple-8;}
.border-purple-9{border-color: $ucs-color-purple-9;}
.border-purple-10{border-color: $ucs-color-purple-10;}

.border-t-purple{border-top-color: $ucs-color-purple;}
.border-t-purple-1{border-top-color: $ucs-color-purple-1;}
.border-t-purple-2{border-top-color: $ucs-color-purple-2;}
.border-t-purple-3{border-top-color: $ucs-color-purple-3;}
.border-t-purple-4{border-top-color: $ucs-color-purple-4;}
.border-t-purple-5{border-top-color: $ucs-color-purple-5;}
.border-t-purple-6{border-top-color: $ucs-color-purple-6;}
.border-t-purple-7{border-top-color: $ucs-color-purple-7;}
.border-t-purple-8{border-top-color: $ucs-color-purple-8;}
.border-t-purple-9{border-top-color: $ucs-color-purple-9;}
.border-t-purple-10{border-top-color: $ucs-color-purple-10;}

.border-b-purple{border-bottom-color: $ucs-color-purple;}
.border-b-purple-1{border-bottom-color: $ucs-color-purple-1;}
.border-b-purple-2{border-bottom-color: $ucs-color-purple-2;}
.border-b-purple-3{border-bottom-color: $ucs-color-purple-3;}
.border-b-purple-4{border-bottom-color: $ucs-color-purple-4;}
.border-b-purple-5{border-bottom-color: $ucs-color-purple-5;}
.border-b-purple-6{border-bottom-color: $ucs-color-purple-6;}
.border-b-purple-7{border-bottom-color: $ucs-color-purple-7;}
.border-b-purple-8{border-bottom-color: $ucs-color-purple-8;}
.border-b-purple-9{border-bottom-color: $ucs-color-purple-9;}
.border-b-purple-10{border-bottom-color: $ucs-color-purple-10;}

.border-l-purple{border-left-color: $ucs-color-purple;}
.border-l-purple-1{border-left-color: $ucs-color-purple-1;}
.border-l-purple-2{border-left-color: $ucs-color-purple-2;}
.border-l-purple-3{border-left-color: $ucs-color-purple-3;}
.border-l-purple-4{border-left-color: $ucs-color-purple-4;}
.border-l-purple-5{border-left-color: $ucs-color-purple-5;}
.border-l-purple-6{border-left-color: $ucs-color-purple-6;}
.border-l-purple-7{border-left-color: $ucs-color-purple-7;}
.border-l-purple-8{border-left-color: $ucs-color-purple-8;}
.border-l-purple-9{border-left-color: $ucs-color-purple-9;}
.border-l-purple-10{border-left-color: $ucs-color-purple-10;}

.border-r-purple{border-right-color: $ucs-color-purple;}
.border-r-purple-1{border-right-color: $ucs-color-purple-1;}
.border-r-purple-2{border-right-color: $ucs-color-purple-2;}
.border-r-purple-3{border-right-color: $ucs-color-purple-3;}
.border-r-purple-4{border-right-color: $ucs-color-purple-4;}
.border-r-purple-5{border-right-color: $ucs-color-purple-5;}
.border-r-purple-6{border-right-color: $ucs-color-purple-6;}
.border-r-purple-7{border-right-color: $ucs-color-purple-7;}
.border-r-purple-8{border-right-color: $ucs-color-purple-8;}
.border-r-purple-9{border-right-color: $ucs-color-purple-9;}
.border-r-purple-10{border-right-color: $ucs-color-purple-10;}

.border-x-purple{border-right-color: $ucs-color-purple;border-left-color: $ucs-color-purple;}
.border-x-purple-1{border-right-color: $ucs-color-purple-1;border-left-color: $ucs-color-purple-1;}
.border-x-purple-2{border-right-color: $ucs-color-purple-2;border-left-color: $ucs-color-purple-2;}
.border-x-purple-3{border-right-color: $ucs-color-purple-3;border-left-color: $ucs-color-purple-3;}
.border-x-purple-4{border-right-color: $ucs-color-purple-4;border-left-color: $ucs-color-purple-4;}
.border-x-purple-5{border-right-color: $ucs-color-purple-5;border-left-color: $ucs-color-purple-5;}
.border-x-purple-6{border-right-color: $ucs-color-purple-6;border-left-color: $ucs-color-purple-6;}
.border-x-purple-7{border-right-color: $ucs-color-purple-7;border-left-color: $ucs-color-purple-7;}
.border-x-purple-8{border-right-color: $ucs-color-purple-8;border-left-color: $ucs-color-purple-8;}
.border-x-purple-9{border-right-color: $ucs-color-purple-9;border-left-color: $ucs-color-purple-9;}
.border-x-purple-10{border-right-color: $ucs-color-purple-10;border-left-color: $ucs-color-purple-10;}

.border-y-purple{border-top-color: $ucs-color-purple;border-bottom-color: $ucs-color-purple;}
.border-y-purple-1{border-top-color: $ucs-color-purple-1;border-bottom-color: $ucs-color-purple-1;}
.border-y-purple-2{border-top-color: $ucs-color-purple-2;border-bottom-color: $ucs-color-purple-2;}
.border-y-purple-3{border-top-color: $ucs-color-purple-3;border-bottom-color: $ucs-color-purple-3;}
.border-y-purple-4{border-top-color: $ucs-color-purple-4;border-bottom-color: $ucs-color-purple-4;}
.border-y-purple-5{border-top-color: $ucs-color-purple-5;border-bottom-color: $ucs-color-purple-5;}
.border-y-purple-6{border-top-color: $ucs-color-purple-6;border-bottom-color: $ucs-color-purple-6;}
.border-y-purple-7{border-top-color: $ucs-color-purple-7;border-bottom-color: $ucs-color-purple-7;}
.border-y-purple-8{border-top-color: $ucs-color-purple-8;border-bottom-color: $ucs-color-purple-8;}
.border-y-purple-9{border-top-color: $ucs-color-purple-9;border-bottom-color: $ucs-color-purple-9;}
.border-y-purple-10{border-top-color: $ucs-color-purple-10;border-bottom-color: $ucs-color-purple-10;}
