// Purple / 暗夜紫
$ucs-color-purple: #722ED1 !default;
$ucs-color-purple-1: #F5E8FF !default;
$ucs-color-purple-2: #DDBEF6 !default;
$ucs-color-purple-3: #C396ED !default;
$ucs-color-purple-4: #A871E3 !default;
$ucs-color-purple-5: #8D4EDA !default;
$ucs-color-purple-6: #722ED1 !default;
$ucs-color-purple-7: #551DB0 !default;
$ucs-color-purple-8: #3C108F !default;
$ucs-color-purple-9: #27066E !default;
$ucs-color-purple-10: #16004D !default;
