// Grey / 中性灰
$ucs-color-grey: #a9aeb8 !default;
$ucs-color-grey-1: #ffffff !default;
$ucs-color-grey-2: #f7f8fa !default;
$ucs-color-grey-3: #f2f3f5 !default;
$ucs-color-grey-4: #e5e6eb !default;
$ucs-color-grey-5: #c9cdd4 !default;
$ucs-color-grey-6: #a9aeb8 !default;
$ucs-color-grey-7: #86909c !default;
$ucs-color-grey-8: #6b7785 !default;
$ucs-color-grey-9: #4e5969 !default;
$ucs-color-grey-10: #272e3b !default;
$ucs-color-grey-11: #1d2129 !default;
$ucs-color-grey-12: #141414 !default;
