// Red / 浪漫红
$ucs-color-red: #F53F3F !default;
$ucs-color-red-1: #FFECE8 !default;
$ucs-color-red-2: #FDCDC5 !default;
$ucs-color-red-3: #FBACA3 !default;
$ucs-color-red-4: #F98981 !default;
$ucs-color-red-5: #F76560 !default;
$ucs-color-red-6: #F53F3F !default;
$ucs-color-red-7: #CB272D !default;
$ucs-color-red-8: #A1151E !default;
$ucs-color-red-9: #770813 !default;
$ucs-color-red-10: #4D000A !default;
