// Red / 浪漫红
$ucs-color-red: #F53F3F;
$ucs-color-red-1: #FFECE8;
$ucs-color-red-2: #FDCDC5;
$ucs-color-red-3: #FBACA3;
$ucs-color-red-4: #F98981;
$ucs-color-red-5: #F76560;
$ucs-color-red-6: #F53F3F;
$ucs-color-red-7: #CB272D;
$ucs-color-red-8: #A1151E;
$ucs-color-red-9: #770813;
$ucs-color-red-10: #4D000A;
