@import "./var.scss";
/**
 * 背景色
 */
.bg-orangered{background-color: $ucs-color-orangered;}
.bg-orangered-1{background-color: $ucs-color-orangered-1;}
.bg-orangered-2{background-color: $ucs-color-orangered-2;}
.bg-orangered-3{background-color: $ucs-color-orangered-3;}
.bg-orangered-4{background-color: $ucs-color-orangered-4;}
.bg-orangered-5{background-color: $ucs-color-orangered-5;}
.bg-orangered-6{background-color: $ucs-color-orangered-6;}
.bg-orangered-7{background-color: $ucs-color-orangered-7;}
.bg-orangered-8{background-color: $ucs-color-orangered-8;}
.bg-orangered-9{background-color: $ucs-color-orangered-9;}
.bg-orangered-10{background-color: $ucs-color-orangered-10;}
/**
 * 文本色
 */
.color-orangered{color: $ucs-color-orangered;}
.color-orangered-1{color: $ucs-color-orangered-1;}
.color-orangered-2{color: $ucs-color-orangered-2;}
.color-orangered-3{color: $ucs-color-orangered-3;}
.color-orangered-4{color: $ucs-color-orangered-4;}
.color-orangered-5{color: $ucs-color-orangered-5;}
.color-orangered-6{color: $ucs-color-orangered-6;}
.color-orangered-7{color: $ucs-color-orangered-7;}
.color-orangered-8{color: $ucs-color-orangered-8;}
.color-orangered-9{color: $ucs-color-orangered-9;}
.color-orangered-10{color: $ucs-color-orangered-10;}
/**
 * 边框色
 */
.border-orangered{border-color: $ucs-color-orangered;}
.border-orangered-1{border-color: $ucs-color-orangered-1;}
.border-orangered-2{border-color: $ucs-color-orangered-2;}
.border-orangered-3{border-color: $ucs-color-orangered-3;}
.border-orangered-4{border-color: $ucs-color-orangered-4;}
.border-orangered-5{border-color: $ucs-color-orangered-5;}
.border-orangered-6{border-color: $ucs-color-orangered-6;}
.border-orangered-7{border-color: $ucs-color-orangered-7;}
.border-orangered-8{border-color: $ucs-color-orangered-8;}
.border-orangered-9{border-color: $ucs-color-orangered-9;}
.border-orangered-10{border-color: $ucs-color-orangered-10;}

.border-t-orangered{border-top-color: $ucs-color-orangered;}
.border-t-orangered-1{border-top-color: $ucs-color-orangered-1;}
.border-t-orangered-2{border-top-color: $ucs-color-orangered-2;}
.border-t-orangered-3{border-top-color: $ucs-color-orangered-3;}
.border-t-orangered-4{border-top-color: $ucs-color-orangered-4;}
.border-t-orangered-5{border-top-color: $ucs-color-orangered-5;}
.border-t-orangered-6{border-top-color: $ucs-color-orangered-6;}
.border-t-orangered-7{border-top-color: $ucs-color-orangered-7;}
.border-t-orangered-8{border-top-color: $ucs-color-orangered-8;}
.border-t-orangered-9{border-top-color: $ucs-color-orangered-9;}
.border-t-orangered-10{border-top-color: $ucs-color-orangered-10;}

.border-b-orangered{border-bottom-color: $ucs-color-orangered;}
.border-b-orangered-1{border-bottom-color: $ucs-color-orangered-1;}
.border-b-orangered-2{border-bottom-color: $ucs-color-orangered-2;}
.border-b-orangered-3{border-bottom-color: $ucs-color-orangered-3;}
.border-b-orangered-4{border-bottom-color: $ucs-color-orangered-4;}
.border-b-orangered-5{border-bottom-color: $ucs-color-orangered-5;}
.border-b-orangered-6{border-bottom-color: $ucs-color-orangered-6;}
.border-b-orangered-7{border-bottom-color: $ucs-color-orangered-7;}
.border-b-orangered-8{border-bottom-color: $ucs-color-orangered-8;}
.border-b-orangered-9{border-bottom-color: $ucs-color-orangered-9;}
.border-b-orangered-10{border-bottom-color: $ucs-color-orangered-10;}

.border-l-orangered{border-left-color: $ucs-color-orangered;}
.border-l-orangered-1{border-left-color: $ucs-color-orangered-1;}
.border-l-orangered-2{border-left-color: $ucs-color-orangered-2;}
.border-l-orangered-3{border-left-color: $ucs-color-orangered-3;}
.border-l-orangered-4{border-left-color: $ucs-color-orangered-4;}
.border-l-orangered-5{border-left-color: $ucs-color-orangered-5;}
.border-l-orangered-6{border-left-color: $ucs-color-orangered-6;}
.border-l-orangered-7{border-left-color: $ucs-color-orangered-7;}
.border-l-orangered-8{border-left-color: $ucs-color-orangered-8;}
.border-l-orangered-9{border-left-color: $ucs-color-orangered-9;}
.border-l-orangered-10{border-left-color: $ucs-color-orangered-10;}

.border-r-orangered{border-right-color: $ucs-color-orangered;}
.border-r-orangered-1{border-right-color: $ucs-color-orangered-1;}
.border-r-orangered-2{border-right-color: $ucs-color-orangered-2;}
.border-r-orangered-3{border-right-color: $ucs-color-orangered-3;}
.border-r-orangered-4{border-right-color: $ucs-color-orangered-4;}
.border-r-orangered-5{border-right-color: $ucs-color-orangered-5;}
.border-r-orangered-6{border-right-color: $ucs-color-orangered-6;}
.border-r-orangered-7{border-right-color: $ucs-color-orangered-7;}
.border-r-orangered-8{border-right-color: $ucs-color-orangered-8;}
.border-r-orangered-9{border-right-color: $ucs-color-orangered-9;}
.border-r-orangered-10{border-right-color: $ucs-color-orangered-10;}

.border-x-orangered{border-right-color: $ucs-color-orangered;border-left-color: $ucs-color-orangered;}
.border-x-orangered-1{border-right-color: $ucs-color-orangered-1;border-left-color: $ucs-color-orangered-1;}
.border-x-orangered-2{border-right-color: $ucs-color-orangered-2;border-left-color: $ucs-color-orangered-2;}
.border-x-orangered-3{border-right-color: $ucs-color-orangered-3;border-left-color: $ucs-color-orangered-3;}
.border-x-orangered-4{border-right-color: $ucs-color-orangered-4;border-left-color: $ucs-color-orangered-4;}
.border-x-orangered-5{border-right-color: $ucs-color-orangered-5;border-left-color: $ucs-color-orangered-5;}
.border-x-orangered-6{border-right-color: $ucs-color-orangered-6;border-left-color: $ucs-color-orangered-6;}
.border-x-orangered-7{border-right-color: $ucs-color-orangered-7;border-left-color: $ucs-color-orangered-7;}
.border-x-orangered-8{border-right-color: $ucs-color-orangered-8;border-left-color: $ucs-color-orangered-8;}
.border-x-orangered-9{border-right-color: $ucs-color-orangered-9;border-left-color: $ucs-color-orangered-9;}
.border-x-orangered-10{border-right-color: $ucs-color-orangered-10;border-left-color: $ucs-color-orangered-10;}

.border-y-orangered{border-top-color: $ucs-color-orangered;border-bottom-color: $ucs-color-orangered;}
.border-y-orangered-1{border-top-color: $ucs-color-orangered-1;border-bottom-color: $ucs-color-orangered-1;}
.border-y-orangered-2{border-top-color: $ucs-color-orangered-2;border-bottom-color: $ucs-color-orangered-2;}
.border-y-orangered-3{border-top-color: $ucs-color-orangered-3;border-bottom-color: $ucs-color-orangered-3;}
.border-y-orangered-4{border-top-color: $ucs-color-orangered-4;border-bottom-color: $ucs-color-orangered-4;}
.border-y-orangered-5{border-top-color: $ucs-color-orangered-5;border-bottom-color: $ucs-color-orangered-5;}
.border-y-orangered-6{border-top-color: $ucs-color-orangered-6;border-bottom-color: $ucs-color-orangered-6;}
.border-y-orangered-7{border-top-color: $ucs-color-orangered-7;border-bottom-color: $ucs-color-orangered-7;}
.border-y-orangered-8{border-top-color: $ucs-color-orangered-8;border-bottom-color: $ucs-color-orangered-8;}
.border-y-orangered-9{border-top-color: $ucs-color-orangered-9;border-bottom-color: $ucs-color-orangered-9;}
.border-y-orangered-10{border-top-color: $ucs-color-orangered-10;border-bottom-color: $ucs-color-orangered-10;}
