// Orange Red / 晚秋红
$ucs-color-orangered: #F77234 !default;
$ucs-color-orangered-1: #FFF3E8 !default;
$ucs-color-orangered-2: #FDDDC3 !default;
$ucs-color-orangered-3: #FCC59F !default;
$ucs-color-orangered-4: #FAAC7B !default;
$ucs-color-orangered-5: #F99057 !default;
$ucs-color-orangered-6: #F77234 !default;
$ucs-color-orangered-7: #CC5120 !default;
$ucs-color-orangered-8: #A23511 !default;
$ucs-color-orangered-9: #771F06 !default;
$ucs-color-orangered-10: #4D0E00 !default;
