/**
 * 圆角
 */
.rounded-none {
	border-radius: 0px;
}

.rounded-xs {
	border-radius: 2px;
}

.rounded-sm {
	border-radius: 4px;
}

.rounded-md {
	border-radius: 6px;
}

.rounded-lg {
	border-radius: 8px;
}

.rounded-xl {
	border-radius: 12px;
}

.rounded-2xl {
	border-radius: 16px;
}

.rounded-3xl {
	border-radius: 24px;
}

.rounded-full {
	border-radius: 999px;
}