/* Align Content */
.content-center{align-content: center;}
.content-start{align-content: flex-start;}
.content-end{align-content: flex-end;}
.content-between{align-content: space-between;}
.content-around{align-content: space-around;}
.content-stretch{align-content: stretch;}
/* Align Items */ 
.items-stretch{align-items: stretch;}
.items-start{align-items: flex-start;}
.items-center{align-items: center;}
.items-end{align-items: flex-end;}
/* Align Self */ 
.self-auto{align-self: auto;}
.self-center{align-self: center;}
.self-start{align-self: flex-start;}
.self-end{align-self: flex-end;}
.self-stretch{align-self: stretch;}
