/* 内边距 */
.p-xs {padding: 4px;}
.p-sm {padding: 8px;}
.p-md {padding: 12px;}
.p-lg {padding: 16px;}
.p-xl {padding: 20px;}

.pt-xs {padding-top: 4px;}
.pt-sm {padding-top: 8px;}
.pt-md {padding-top: 12px;}
.pt-lg {padding-top: 16px;}
.pt-xl {padding-top: 20px;}

.pr-xs {padding-right: 4px;}
.pr-sm {padding-right: 8px;}
.pr-md {padding-right: 12px;}
.pr-lg {padding-right: 16px;}
.pr-xl {padding-right: 20px;}

.pb-xs {padding-bottom: 4px;}
.pb-sm {padding-bottom: 8px;}
.pb-md {padding-bottom: 12px;}
.pb-lg {padding-bottom: 16px;}
.pb-xl {padding-bottom: 20px;}

.pl-xs {padding-left: 4px;}
.pl-sm {padding-left: 8px;}
.pl-md {padding-left: 12px;}
.pl-lg {padding-left: 16px;}
.pl-xl {padding-left: 20px;}

.px-xs {padding-left: 4px;padding-right: 4px;}
.px-sm {padding-left: 8px;padding-right: 8px;}
.px-md {padding-left: 12px;padding-right: 12px;}
.px-lg {padding-left: 16px;padding-right: 16px;}
.px-xl {padding-left: 20px;padding-right: 20px;}

.py-xs {padding-top: 4px;padding-bottom: 4px;}
.py-sm {padding-top: 8px;padding-bottom: 8px;}
.py-md {padding-top: 12px;padding-bottom: 12px;}
.py-lg {padding-top: 16px;padding-bottom: 16px;}
.py-xl {padding-top: 20px;padding-bottom: 20px;}