@import "./var.scss";
/**
 * 背景色
 */
.bg-arcoblue{background-color: $ucs-color-arcoblue;}
.bg-arcoblue-1{background-color: $ucs-color-arcoblue-1;}
.bg-arcoblue-2{background-color: $ucs-color-arcoblue-2;}
.bg-arcoblue-3{background-color: $ucs-color-arcoblue-3;}
.bg-arcoblue-4{background-color: $ucs-color-arcoblue-4;}
.bg-arcoblue-5{background-color: $ucs-color-arcoblue-5;}
.bg-arcoblue-6{background-color: $ucs-color-arcoblue-6;}
.bg-arcoblue-7{background-color: $ucs-color-arcoblue-7;}
.bg-arcoblue-8{background-color: $ucs-color-arcoblue-8;}
.bg-arcoblue-9{background-color: $ucs-color-arcoblue-9;}
.bg-arcoblue-10{background-color: $ucs-color-arcoblue-10;}
/**
 * 文本色
 */
.color-arcoblue{color: $ucs-color-arcoblue;}
.color-arcoblue-1{color: $ucs-color-arcoblue-1;}
.color-arcoblue-2{color: $ucs-color-arcoblue-2;}
.color-arcoblue-3{color: $ucs-color-arcoblue-3;}
.color-arcoblue-4{color: $ucs-color-arcoblue-4;}
.color-arcoblue-5{color: $ucs-color-arcoblue-5;}
.color-arcoblue-6{color: $ucs-color-arcoblue-6;}
.color-arcoblue-7{color: $ucs-color-arcoblue-7;}
.color-arcoblue-8{color: $ucs-color-arcoblue-8;}
.color-arcoblue-9{color: $ucs-color-arcoblue-9;}
.color-arcoblue-10{color: $ucs-color-arcoblue-10;}
/**
 * 边框色
 */
.border-arcoblue{border-color: $ucs-color-arcoblue;}
.border-arcoblue-1{border-color: $ucs-color-arcoblue-1;}
.border-arcoblue-2{border-color: $ucs-color-arcoblue-2;}
.border-arcoblue-3{border-color: $ucs-color-arcoblue-3;}
.border-arcoblue-4{border-color: $ucs-color-arcoblue-4;}
.border-arcoblue-5{border-color: $ucs-color-arcoblue-5;}
.border-arcoblue-6{border-color: $ucs-color-arcoblue-6;}
.border-arcoblue-7{border-color: $ucs-color-arcoblue-7;}
.border-arcoblue-8{border-color: $ucs-color-arcoblue-8;}
.border-arcoblue-9{border-color: $ucs-color-arcoblue-9;}
.border-arcoblue-10{border-color: $ucs-color-arcoblue-10;}

.border-t-arcoblue{border-top-color: $ucs-color-arcoblue;}
.border-t-arcoblue-1{border-top-color: $ucs-color-arcoblue-1;}
.border-t-arcoblue-2{border-top-color: $ucs-color-arcoblue-2;}
.border-t-arcoblue-3{border-top-color: $ucs-color-arcoblue-3;}
.border-t-arcoblue-4{border-top-color: $ucs-color-arcoblue-4;}
.border-t-arcoblue-5{border-top-color: $ucs-color-arcoblue-5;}
.border-t-arcoblue-6{border-top-color: $ucs-color-arcoblue-6;}
.border-t-arcoblue-7{border-top-color: $ucs-color-arcoblue-7;}
.border-t-arcoblue-8{border-top-color: $ucs-color-arcoblue-8;}
.border-t-arcoblue-9{border-top-color: $ucs-color-arcoblue-9;}
.border-t-arcoblue-10{border-top-color: $ucs-color-arcoblue-10;}

.border-b-arcoblue{border-bottom-color: $ucs-color-arcoblue;}
.border-b-arcoblue-1{border-bottom-color: $ucs-color-arcoblue-1;}
.border-b-arcoblue-2{border-bottom-color: $ucs-color-arcoblue-2;}
.border-b-arcoblue-3{border-bottom-color: $ucs-color-arcoblue-3;}
.border-b-arcoblue-4{border-bottom-color: $ucs-color-arcoblue-4;}
.border-b-arcoblue-5{border-bottom-color: $ucs-color-arcoblue-5;}
.border-b-arcoblue-6{border-bottom-color: $ucs-color-arcoblue-6;}
.border-b-arcoblue-7{border-bottom-color: $ucs-color-arcoblue-7;}
.border-b-arcoblue-8{border-bottom-color: $ucs-color-arcoblue-8;}
.border-b-arcoblue-9{border-bottom-color: $ucs-color-arcoblue-9;}
.border-b-arcoblue-10{border-bottom-color: $ucs-color-arcoblue-10;}

.border-l-arcoblue{border-left-color: $ucs-color-arcoblue;}
.border-l-arcoblue-1{border-left-color: $ucs-color-arcoblue-1;}
.border-l-arcoblue-2{border-left-color: $ucs-color-arcoblue-2;}
.border-l-arcoblue-3{border-left-color: $ucs-color-arcoblue-3;}
.border-l-arcoblue-4{border-left-color: $ucs-color-arcoblue-4;}
.border-l-arcoblue-5{border-left-color: $ucs-color-arcoblue-5;}
.border-l-arcoblue-6{border-left-color: $ucs-color-arcoblue-6;}
.border-l-arcoblue-7{border-left-color: $ucs-color-arcoblue-7;}
.border-l-arcoblue-8{border-left-color: $ucs-color-arcoblue-8;}
.border-l-arcoblue-9{border-left-color: $ucs-color-arcoblue-9;}
.border-l-arcoblue-10{border-left-color: $ucs-color-arcoblue-10;}

.border-r-arcoblue{border-right-color: $ucs-color-arcoblue;}
.border-r-arcoblue-1{border-right-color: $ucs-color-arcoblue-1;}
.border-r-arcoblue-2{border-right-color: $ucs-color-arcoblue-2;}
.border-r-arcoblue-3{border-right-color: $ucs-color-arcoblue-3;}
.border-r-arcoblue-4{border-right-color: $ucs-color-arcoblue-4;}
.border-r-arcoblue-5{border-right-color: $ucs-color-arcoblue-5;}
.border-r-arcoblue-6{border-right-color: $ucs-color-arcoblue-6;}
.border-r-arcoblue-7{border-right-color: $ucs-color-arcoblue-7;}
.border-r-arcoblue-8{border-right-color: $ucs-color-arcoblue-8;}
.border-r-arcoblue-9{border-right-color: $ucs-color-arcoblue-9;}
.border-r-arcoblue-10{border-right-color: $ucs-color-arcoblue-10;}

.border-x-arcoblue{border-right-color: $ucs-color-arcoblue;border-left-color: $ucs-color-arcoblue;}
.border-x-arcoblue-1{border-right-color: $ucs-color-arcoblue-1;border-left-color: $ucs-color-arcoblue-1;}
.border-x-arcoblue-2{border-right-color: $ucs-color-arcoblue-2;border-left-color: $ucs-color-arcoblue-2;}
.border-x-arcoblue-3{border-right-color: $ucs-color-arcoblue-3;border-left-color: $ucs-color-arcoblue-3;}
.border-x-arcoblue-4{border-right-color: $ucs-color-arcoblue-4;border-left-color: $ucs-color-arcoblue-4;}
.border-x-arcoblue-5{border-right-color: $ucs-color-arcoblue-5;border-left-color: $ucs-color-arcoblue-5;}
.border-x-arcoblue-6{border-right-color: $ucs-color-arcoblue-6;border-left-color: $ucs-color-arcoblue-6;}
.border-x-arcoblue-7{border-right-color: $ucs-color-arcoblue-7;border-left-color: $ucs-color-arcoblue-7;}
.border-x-arcoblue-8{border-right-color: $ucs-color-arcoblue-8;border-left-color: $ucs-color-arcoblue-8;}
.border-x-arcoblue-9{border-right-color: $ucs-color-arcoblue-9;border-left-color: $ucs-color-arcoblue-9;}
.border-x-arcoblue-10{border-right-color: $ucs-color-arcoblue-10;border-left-color: $ucs-color-arcoblue-10;}

.border-y-arcoblue{border-top-color: $ucs-color-arcoblue;border-bottom-color: $ucs-color-arcoblue;}
.border-y-arcoblue-1{border-top-color: $ucs-color-arcoblue-1;border-bottom-color: $ucs-color-arcoblue-1;}
.border-y-arcoblue-2{border-top-color: $ucs-color-arcoblue-2;border-bottom-color: $ucs-color-arcoblue-2;}
.border-y-arcoblue-3{border-top-color: $ucs-color-arcoblue-3;border-bottom-color: $ucs-color-arcoblue-3;}
.border-y-arcoblue-4{border-top-color: $ucs-color-arcoblue-4;border-bottom-color: $ucs-color-arcoblue-4;}
.border-y-arcoblue-5{border-top-color: $ucs-color-arcoblue-5;border-bottom-color: $ucs-color-arcoblue-5;}
.border-y-arcoblue-6{border-top-color: $ucs-color-arcoblue-6;border-bottom-color: $ucs-color-arcoblue-6;}
.border-y-arcoblue-7{border-top-color: $ucs-color-arcoblue-7;border-bottom-color: $ucs-color-arcoblue-7;}
.border-y-arcoblue-8{border-top-color: $ucs-color-arcoblue-8;border-bottom-color: $ucs-color-arcoblue-8;}
.border-y-arcoblue-9{border-top-color: $ucs-color-arcoblue-9;border-bottom-color: $ucs-color-arcoblue-9;}
.border-y-arcoblue-10{border-top-color: $ucs-color-arcoblue-10;border-bottom-color: $ucs-color-arcoblue-10;}
