// Blue / 海蔚蓝
$ucs-color-blue: #3491FA;
$ucs-color-blue-1: #E8F7FF;
$ucs-color-blue-2: #C3E7FE;
$ucs-color-blue-3: #9FD4FD;
$ucs-color-blue-4: #7BC0FC;
$ucs-color-blue-5: #57A9FB;
$ucs-color-blue-6: #3491FA;
$ucs-color-blue-7: #206CCF;
$ucs-color-blue-8: #114BA3;
$ucs-color-blue-9: #063078;
$ucs-color-blue-10: #001A4D;
