// Gold / 黄昏
$ucs-color-gold: #F7BA1E !default;
$ucs-color-gold-1: #FFFCE8 !default;
$ucs-color-gold-2: #FDF4BF !default;
$ucs-color-gold-3: #FCE996 !default;
$ucs-color-gold-4: #FADC6D !default;
$ucs-color-gold-5: #F9CC45 !default;
$ucs-color-gold-6: #F7BA1E !default;
$ucs-color-gold-7: #CC9213 !default;
$ucs-color-gold-8: #A26D0A !default;
$ucs-color-gold-9: #774B04 !default;
$ucs-color-gold-10: #4D2D00 !default;
