// Primary / 主题
$ucs-color-primary: #604CFC !default;
$ucs-color-primary-1: #EFE8FF !default;
$ucs-color-primary-2: #D6C9FE !default;
$ucs-color-primary-3: #BCA9FE !default;
$ucs-color-primary-4: #9F8AFD !default;
$ucs-color-primary-5: #816BFD !default;
$ucs-color-primary-6: #604CFC !default;
$ucs-color-primary-7: #3C2FD0 !default;
$ucs-color-primary-8: #2019A4 !default;
$ucs-color-primary-9: #0B0978 !default;
$ucs-color-primary-10: #00014D !default;
