@for $i from 0 to 101{
	/* 字体大小 */
	.ucs-text-#{$i}{font-size: $i + px;}
	/* 行高 */
	.ucs-leading-#{$i}{line-height: $i + px;}
}

@for $i from 1 to 751{
	/* 字体大小 */
	.ucs-w-#{$i}{width: $i + rpx;}
}
.ucs-w-2_1{width: 50%;}
.ucs-w-3_1{width: 33.333333%;}
.ucs-w-3_2{width: 66.666667%;}
.ucs-w-4_1{width: 25%;}
.ucs-w-4_2{width: 50%;}
.ucs-w-4_3{width: 75%;}
.ucs-w-5_1{width: 20%;}
.ucs-w-5_2{width: 40%;}
.ucs-w-5_3{width: 60%;}
.ucs-w-5_4{width: 80%;}
.ucs-w-6_1{width: 16.666667%;}
.ucs-w-6_2{width: 33.333333%;}
.ucs-w-6_3{width: 50%;}
.ucs-w-6_4{width: 66.666667%;}
.ucs-w-6_5{width: 83.333333%;}
.ucs-w-12_1{width: 8.333333%;}
.ucs-w-12_2{width: 16.666667%;}
.ucs-w-12_3{width: 25%;}
.ucs-w-12_4{width: 33.333333%;}
.ucs-w-12_5{width: 41.666667%;}
.ucs-w-12_6{width: 50%;}
.ucs-w-12_7{width: 58.333333%;}
.ucs-w-12_8{width: 66.666667%;}
.ucs-w-12_9{width: 75%;}
.ucs-w-12_10{width: 83.333333%;}
.ucs-w-12_11{width: 91.666667%;}
.ucs-w-full{width: 100%;}
.ucs-w-auto{width: auto;}

/* 超出行省略 */
.ucs-lines-1 {
	/* #ifdef UNI-APP-X */
	/* #ifdef APP */
	overflow: hidden;
	text-overflow: ellipsis;
	lines: 1;
	white-space: nowrap;
	/* #endif */
	/* #ifndef APP */
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	/* #endif */
	/* #endif */
	/* #ifndef UNI-APP-X */
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	/* #endif */
}
@for $i from 2 to 12{
	.ucs-lines-#{$i} {
		/* #ifdef UNI-APP-X */
		/* #ifdef APP */
		overflow: hidden;
		text-overflow: ellipsis;
		lines: $i;
		/* #endif */
		/* #ifndef APP */
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $i;
		/* #endif */
		/* #endif */
		/* #ifndef UNI-APP-X */
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $i;
		/* #endif */
	}
}