// Warning / 警告
$ucs-color-warning: #EDA20C !default;
$ucs-color-warning-1: #FFFBE8 !default;
$ucs-color-warning-2: #FBEEBA !default;
$ucs-color-warning-3: #F8DF8C !default;
$ucs-color-warning-4: #F4CD60 !default;
$ucs-color-warning-5: #F1B836 !default;
$ucs-color-warning-6: #EDA20C !default;
$ucs-color-warning-7: #C57F07 !default;
$ucs-color-warning-8: #9D6004 !default;
$ucs-color-warning-9: #754301 !default;
$ucs-color-warning-10: #4D2900 !default;
