// Success / 成功
$ucs-color-success: #07C160 !default;
$ucs-color-success-1: #E8FFEF !default;
$ucs-color-success-2: #B2F3C9 !default;
$ucs-color-success-3: #81E6A8 !default;
$ucs-color-success-4: #54DA8C !default;
$ucs-color-success-5: #2BCD74 !default;
$ucs-color-success-6: #07C160 !default;
$ucs-color-success-7: #04A457 !default;
$ucs-color-success-8: #02874B !default;
$ucs-color-success-9: #016A3E !default;
$ucs-color-success-10: #004D2F !default;
