@import "./var.scss";
/**
 * 背景色
 */
.bg-yellow{background-color: $ucs-color-yellow;}
.bg-yellow-1{background-color: $ucs-color-yellow-1;}
.bg-yellow-2{background-color: $ucs-color-yellow-2;}
.bg-yellow-3{background-color: $ucs-color-yellow-3;}
.bg-yellow-4{background-color: $ucs-color-yellow-4;}
.bg-yellow-5{background-color: $ucs-color-yellow-5;}
.bg-yellow-6{background-color: $ucs-color-yellow-6;}
.bg-yellow-7{background-color: $ucs-color-yellow-7;}
.bg-yellow-8{background-color: $ucs-color-yellow-8;}
.bg-yellow-9{background-color: $ucs-color-yellow-9;}
.bg-yellow-10{background-color: $ucs-color-yellow-10;}
/**
 * 文本色
 */
.color-yellow{color: $ucs-color-yellow;}
.color-yellow-1{color: $ucs-color-yellow-1;}
.color-yellow-2{color: $ucs-color-yellow-2;}
.color-yellow-3{color: $ucs-color-yellow-3;}
.color-yellow-4{color: $ucs-color-yellow-4;}
.color-yellow-5{color: $ucs-color-yellow-5;}
.color-yellow-6{color: $ucs-color-yellow-6;}
.color-yellow-7{color: $ucs-color-yellow-7;}
.color-yellow-8{color: $ucs-color-yellow-8;}
.color-yellow-9{color: $ucs-color-yellow-9;}
.color-yellow-10{color: $ucs-color-yellow-10;}
/**
 * 边框色
 */
.border-yellow{border-color: $ucs-color-yellow;}
.border-yellow-1{border-color: $ucs-color-yellow-1;}
.border-yellow-2{border-color: $ucs-color-yellow-2;}
.border-yellow-3{border-color: $ucs-color-yellow-3;}
.border-yellow-4{border-color: $ucs-color-yellow-4;}
.border-yellow-5{border-color: $ucs-color-yellow-5;}
.border-yellow-6{border-color: $ucs-color-yellow-6;}
.border-yellow-7{border-color: $ucs-color-yellow-7;}
.border-yellow-8{border-color: $ucs-color-yellow-8;}
.border-yellow-9{border-color: $ucs-color-yellow-9;}
.border-yellow-10{border-color: $ucs-color-yellow-10;}

.border-t-yellow{border-top-color: $ucs-color-yellow;}
.border-t-yellow-1{border-top-color: $ucs-color-yellow-1;}
.border-t-yellow-2{border-top-color: $ucs-color-yellow-2;}
.border-t-yellow-3{border-top-color: $ucs-color-yellow-3;}
.border-t-yellow-4{border-top-color: $ucs-color-yellow-4;}
.border-t-yellow-5{border-top-color: $ucs-color-yellow-5;}
.border-t-yellow-6{border-top-color: $ucs-color-yellow-6;}
.border-t-yellow-7{border-top-color: $ucs-color-yellow-7;}
.border-t-yellow-8{border-top-color: $ucs-color-yellow-8;}
.border-t-yellow-9{border-top-color: $ucs-color-yellow-9;}
.border-t-yellow-10{border-top-color: $ucs-color-yellow-10;}

.border-b-yellow{border-bottom-color: $ucs-color-yellow;}
.border-b-yellow-1{border-bottom-color: $ucs-color-yellow-1;}
.border-b-yellow-2{border-bottom-color: $ucs-color-yellow-2;}
.border-b-yellow-3{border-bottom-color: $ucs-color-yellow-3;}
.border-b-yellow-4{border-bottom-color: $ucs-color-yellow-4;}
.border-b-yellow-5{border-bottom-color: $ucs-color-yellow-5;}
.border-b-yellow-6{border-bottom-color: $ucs-color-yellow-6;}
.border-b-yellow-7{border-bottom-color: $ucs-color-yellow-7;}
.border-b-yellow-8{border-bottom-color: $ucs-color-yellow-8;}
.border-b-yellow-9{border-bottom-color: $ucs-color-yellow-9;}
.border-b-yellow-10{border-bottom-color: $ucs-color-yellow-10;}

.border-l-yellow{border-left-color: $ucs-color-yellow;}
.border-l-yellow-1{border-left-color: $ucs-color-yellow-1;}
.border-l-yellow-2{border-left-color: $ucs-color-yellow-2;}
.border-l-yellow-3{border-left-color: $ucs-color-yellow-3;}
.border-l-yellow-4{border-left-color: $ucs-color-yellow-4;}
.border-l-yellow-5{border-left-color: $ucs-color-yellow-5;}
.border-l-yellow-6{border-left-color: $ucs-color-yellow-6;}
.border-l-yellow-7{border-left-color: $ucs-color-yellow-7;}
.border-l-yellow-8{border-left-color: $ucs-color-yellow-8;}
.border-l-yellow-9{border-left-color: $ucs-color-yellow-9;}
.border-l-yellow-10{border-left-color: $ucs-color-yellow-10;}

.border-r-yellow{border-right-color: $ucs-color-yellow;}
.border-r-yellow-1{border-right-color: $ucs-color-yellow-1;}
.border-r-yellow-2{border-right-color: $ucs-color-yellow-2;}
.border-r-yellow-3{border-right-color: $ucs-color-yellow-3;}
.border-r-yellow-4{border-right-color: $ucs-color-yellow-4;}
.border-r-yellow-5{border-right-color: $ucs-color-yellow-5;}
.border-r-yellow-6{border-right-color: $ucs-color-yellow-6;}
.border-r-yellow-7{border-right-color: $ucs-color-yellow-7;}
.border-r-yellow-8{border-right-color: $ucs-color-yellow-8;}
.border-r-yellow-9{border-right-color: $ucs-color-yellow-9;}
.border-r-yellow-10{border-right-color: $ucs-color-yellow-10;}

.border-x-yellow{border-right-color: $ucs-color-yellow;border-left-color: $ucs-color-yellow;}
.border-x-yellow-1{border-right-color: $ucs-color-yellow-1;border-left-color: $ucs-color-yellow-1;}
.border-x-yellow-2{border-right-color: $ucs-color-yellow-2;border-left-color: $ucs-color-yellow-2;}
.border-x-yellow-3{border-right-color: $ucs-color-yellow-3;border-left-color: $ucs-color-yellow-3;}
.border-x-yellow-4{border-right-color: $ucs-color-yellow-4;border-left-color: $ucs-color-yellow-4;}
.border-x-yellow-5{border-right-color: $ucs-color-yellow-5;border-left-color: $ucs-color-yellow-5;}
.border-x-yellow-6{border-right-color: $ucs-color-yellow-6;border-left-color: $ucs-color-yellow-6;}
.border-x-yellow-7{border-right-color: $ucs-color-yellow-7;border-left-color: $ucs-color-yellow-7;}
.border-x-yellow-8{border-right-color: $ucs-color-yellow-8;border-left-color: $ucs-color-yellow-8;}
.border-x-yellow-9{border-right-color: $ucs-color-yellow-9;border-left-color: $ucs-color-yellow-9;}
.border-x-yellow-10{border-right-color: $ucs-color-yellow-10;border-left-color: $ucs-color-yellow-10;}

.border-y-yellow{border-top-color: $ucs-color-yellow;border-bottom-color: $ucs-color-yellow;}
.border-y-yellow-1{border-top-color: $ucs-color-yellow-1;border-bottom-color: $ucs-color-yellow-1;}
.border-y-yellow-2{border-top-color: $ucs-color-yellow-2;border-bottom-color: $ucs-color-yellow-2;}
.border-y-yellow-3{border-top-color: $ucs-color-yellow-3;border-bottom-color: $ucs-color-yellow-3;}
.border-y-yellow-4{border-top-color: $ucs-color-yellow-4;border-bottom-color: $ucs-color-yellow-4;}
.border-y-yellow-5{border-top-color: $ucs-color-yellow-5;border-bottom-color: $ucs-color-yellow-5;}
.border-y-yellow-6{border-top-color: $ucs-color-yellow-6;border-bottom-color: $ucs-color-yellow-6;}
.border-y-yellow-7{border-top-color: $ucs-color-yellow-7;border-bottom-color: $ucs-color-yellow-7;}
.border-y-yellow-8{border-top-color: $ucs-color-yellow-8;border-bottom-color: $ucs-color-yellow-8;}
.border-y-yellow-9{border-top-color: $ucs-color-yellow-9;border-bottom-color: $ucs-color-yellow-9;}
.border-y-yellow-10{border-top-color: $ucs-color-yellow-10;border-bottom-color: $ucs-color-yellow-10;}
