// Yellow / 柠檬黄
$ucs-color-yellow: #FADC19 !default;
$ucs-color-yellow-1: #FEFFE8 !default;
$ucs-color-yellow-2: #FEFEBE !default;
$ucs-color-yellow-3: #FDFA94 !default;
$ucs-color-yellow-4: #FCF26B !default;
$ucs-color-yellow-5: #FBE842 !default;
$ucs-color-yellow-6: #FADC19 !default;
$ucs-color-yellow-7: #CFAF0F !default;
$ucs-color-yellow-8: #A38408 !default;
$ucs-color-yellow-9: #785D03 !default;
$ucs-color-yellow-10: #4D3800 !default;
