// Gray / 中性灰
$ucs-color-gray: #EBEEF5 !default;
$ucs-color-gray-1: #FFFFFF !default;
$ucs-color-gray-2: #FAFCFF !default;
$ucs-color-gray-3: #FAFAFA !default;
$ucs-color-gray-4: #F5F7FA !default;
$ucs-color-gray-5: #F0F2F5 !default;
$ucs-color-gray-6: #EBEDF0 !default;
$ucs-color-gray-7: #E6E8EB !default;
$ucs-color-gray-8: #F2F6FC !default;
$ucs-color-gray-9: #EBEEF5 !default;
$ucs-color-gray-10: #E4E7ED !default;
$ucs-color-gray-11: #DCDFE6 !default;
$ucs-color-gray-12: #D4D7DE !default;
$ucs-color-gray-13: #CDD0D6 !default;
$ucs-color-gray-14: #C0C4CC !default;
$ucs-color-gray-15: #A8ABB2 !default;
$ucs-color-gray-16: #909399 !default;
$ucs-color-gray-17: #606266 !default;
$ucs-color-gray-18: #303133 !default;
