@import "./var.scss";
/**
 * 背景色
 */
.bg-pinkpurple{background-color: $ucs-color-pinkpurple;}
.bg-pinkpurple-1{background-color: $ucs-color-pinkpurple-1;}
.bg-pinkpurple-2{background-color: $ucs-color-pinkpurple-2;}
.bg-pinkpurple-3{background-color: $ucs-color-pinkpurple-3;}
.bg-pinkpurple-4{background-color: $ucs-color-pinkpurple-4;}
.bg-pinkpurple-5{background-color: $ucs-color-pinkpurple-5;}
.bg-pinkpurple-6{background-color: $ucs-color-pinkpurple-6;}
.bg-pinkpurple-7{background-color: $ucs-color-pinkpurple-7;}
.bg-pinkpurple-8{background-color: $ucs-color-pinkpurple-8;}
.bg-pinkpurple-9{background-color: $ucs-color-pinkpurple-9;}
.bg-pinkpurple-10{background-color: $ucs-color-pinkpurple-10;}
/**
 * 文本色
 */
.color-pinkpurple{color: $ucs-color-pinkpurple;}
.color-pinkpurple-1{color: $ucs-color-pinkpurple-1;}
.color-pinkpurple-2{color: $ucs-color-pinkpurple-2;}
.color-pinkpurple-3{color: $ucs-color-pinkpurple-3;}
.color-pinkpurple-4{color: $ucs-color-pinkpurple-4;}
.color-pinkpurple-5{color: $ucs-color-pinkpurple-5;}
.color-pinkpurple-6{color: $ucs-color-pinkpurple-6;}
.color-pinkpurple-7{color: $ucs-color-pinkpurple-7;}
.color-pinkpurple-8{color: $ucs-color-pinkpurple-8;}
.color-pinkpurple-9{color: $ucs-color-pinkpurple-9;}
.color-pinkpurple-10{color: $ucs-color-pinkpurple-10;}
/**
 * 边框色
 */
.border-pinkpurple{border-color: $ucs-color-pinkpurple;}
.border-pinkpurple-1{border-color: $ucs-color-pinkpurple-1;}
.border-pinkpurple-2{border-color: $ucs-color-pinkpurple-2;}
.border-pinkpurple-3{border-color: $ucs-color-pinkpurple-3;}
.border-pinkpurple-4{border-color: $ucs-color-pinkpurple-4;}
.border-pinkpurple-5{border-color: $ucs-color-pinkpurple-5;}
.border-pinkpurple-6{border-color: $ucs-color-pinkpurple-6;}
.border-pinkpurple-7{border-color: $ucs-color-pinkpurple-7;}
.border-pinkpurple-8{border-color: $ucs-color-pinkpurple-8;}
.border-pinkpurple-9{border-color: $ucs-color-pinkpurple-9;}
.border-pinkpurple-10{border-color: $ucs-color-pinkpurple-10;}

.border-t-pinkpurple{border-top-color: $ucs-color-pinkpurple;}
.border-t-pinkpurple-1{border-top-color: $ucs-color-pinkpurple-1;}
.border-t-pinkpurple-2{border-top-color: $ucs-color-pinkpurple-2;}
.border-t-pinkpurple-3{border-top-color: $ucs-color-pinkpurple-3;}
.border-t-pinkpurple-4{border-top-color: $ucs-color-pinkpurple-4;}
.border-t-pinkpurple-5{border-top-color: $ucs-color-pinkpurple-5;}
.border-t-pinkpurple-6{border-top-color: $ucs-color-pinkpurple-6;}
.border-t-pinkpurple-7{border-top-color: $ucs-color-pinkpurple-7;}
.border-t-pinkpurple-8{border-top-color: $ucs-color-pinkpurple-8;}
.border-t-pinkpurple-9{border-top-color: $ucs-color-pinkpurple-9;}
.border-t-pinkpurple-10{border-top-color: $ucs-color-pinkpurple-10;}

.border-b-pinkpurple{border-bottom-color: $ucs-color-pinkpurple;}
.border-b-pinkpurple-1{border-bottom-color: $ucs-color-pinkpurple-1;}
.border-b-pinkpurple-2{border-bottom-color: $ucs-color-pinkpurple-2;}
.border-b-pinkpurple-3{border-bottom-color: $ucs-color-pinkpurple-3;}
.border-b-pinkpurple-4{border-bottom-color: $ucs-color-pinkpurple-4;}
.border-b-pinkpurple-5{border-bottom-color: $ucs-color-pinkpurple-5;}
.border-b-pinkpurple-6{border-bottom-color: $ucs-color-pinkpurple-6;}
.border-b-pinkpurple-7{border-bottom-color: $ucs-color-pinkpurple-7;}
.border-b-pinkpurple-8{border-bottom-color: $ucs-color-pinkpurple-8;}
.border-b-pinkpurple-9{border-bottom-color: $ucs-color-pinkpurple-9;}
.border-b-pinkpurple-10{border-bottom-color: $ucs-color-pinkpurple-10;}

.border-l-pinkpurple{border-left-color: $ucs-color-pinkpurple;}
.border-l-pinkpurple-1{border-left-color: $ucs-color-pinkpurple-1;}
.border-l-pinkpurple-2{border-left-color: $ucs-color-pinkpurple-2;}
.border-l-pinkpurple-3{border-left-color: $ucs-color-pinkpurple-3;}
.border-l-pinkpurple-4{border-left-color: $ucs-color-pinkpurple-4;}
.border-l-pinkpurple-5{border-left-color: $ucs-color-pinkpurple-5;}
.border-l-pinkpurple-6{border-left-color: $ucs-color-pinkpurple-6;}
.border-l-pinkpurple-7{border-left-color: $ucs-color-pinkpurple-7;}
.border-l-pinkpurple-8{border-left-color: $ucs-color-pinkpurple-8;}
.border-l-pinkpurple-9{border-left-color: $ucs-color-pinkpurple-9;}
.border-l-pinkpurple-10{border-left-color: $ucs-color-pinkpurple-10;}

.border-r-pinkpurple{border-right-color: $ucs-color-pinkpurple;}
.border-r-pinkpurple-1{border-right-color: $ucs-color-pinkpurple-1;}
.border-r-pinkpurple-2{border-right-color: $ucs-color-pinkpurple-2;}
.border-r-pinkpurple-3{border-right-color: $ucs-color-pinkpurple-3;}
.border-r-pinkpurple-4{border-right-color: $ucs-color-pinkpurple-4;}
.border-r-pinkpurple-5{border-right-color: $ucs-color-pinkpurple-5;}
.border-r-pinkpurple-6{border-right-color: $ucs-color-pinkpurple-6;}
.border-r-pinkpurple-7{border-right-color: $ucs-color-pinkpurple-7;}
.border-r-pinkpurple-8{border-right-color: $ucs-color-pinkpurple-8;}
.border-r-pinkpurple-9{border-right-color: $ucs-color-pinkpurple-9;}
.border-r-pinkpurple-10{border-right-color: $ucs-color-pinkpurple-10;}

.border-x-pinkpurple{border-right-color: $ucs-color-pinkpurple;border-left-color: $ucs-color-pinkpurple;}
.border-x-pinkpurple-1{border-right-color: $ucs-color-pinkpurple-1;border-left-color: $ucs-color-pinkpurple-1;}
.border-x-pinkpurple-2{border-right-color: $ucs-color-pinkpurple-2;border-left-color: $ucs-color-pinkpurple-2;}
.border-x-pinkpurple-3{border-right-color: $ucs-color-pinkpurple-3;border-left-color: $ucs-color-pinkpurple-3;}
.border-x-pinkpurple-4{border-right-color: $ucs-color-pinkpurple-4;border-left-color: $ucs-color-pinkpurple-4;}
.border-x-pinkpurple-5{border-right-color: $ucs-color-pinkpurple-5;border-left-color: $ucs-color-pinkpurple-5;}
.border-x-pinkpurple-6{border-right-color: $ucs-color-pinkpurple-6;border-left-color: $ucs-color-pinkpurple-6;}
.border-x-pinkpurple-7{border-right-color: $ucs-color-pinkpurple-7;border-left-color: $ucs-color-pinkpurple-7;}
.border-x-pinkpurple-8{border-right-color: $ucs-color-pinkpurple-8;border-left-color: $ucs-color-pinkpurple-8;}
.border-x-pinkpurple-9{border-right-color: $ucs-color-pinkpurple-9;border-left-color: $ucs-color-pinkpurple-9;}
.border-x-pinkpurple-10{border-right-color: $ucs-color-pinkpurple-10;border-left-color: $ucs-color-pinkpurple-10;}

.border-y-pinkpurple{border-top-color: $ucs-color-pinkpurple;border-bottom-color: $ucs-color-pinkpurple;}
.border-y-pinkpurple-1{border-top-color: $ucs-color-pinkpurple-1;border-bottom-color: $ucs-color-pinkpurple-1;}
.border-y-pinkpurple-2{border-top-color: $ucs-color-pinkpurple-2;border-bottom-color: $ucs-color-pinkpurple-2;}
.border-y-pinkpurple-3{border-top-color: $ucs-color-pinkpurple-3;border-bottom-color: $ucs-color-pinkpurple-3;}
.border-y-pinkpurple-4{border-top-color: $ucs-color-pinkpurple-4;border-bottom-color: $ucs-color-pinkpurple-4;}
.border-y-pinkpurple-5{border-top-color: $ucs-color-pinkpurple-5;border-bottom-color: $ucs-color-pinkpurple-5;}
.border-y-pinkpurple-6{border-top-color: $ucs-color-pinkpurple-6;border-bottom-color: $ucs-color-pinkpurple-6;}
.border-y-pinkpurple-7{border-top-color: $ucs-color-pinkpurple-7;border-bottom-color: $ucs-color-pinkpurple-7;}
.border-y-pinkpurple-8{border-top-color: $ucs-color-pinkpurple-8;border-bottom-color: $ucs-color-pinkpurple-8;}
.border-y-pinkpurple-9{border-top-color: $ucs-color-pinkpurple-9;border-bottom-color: $ucs-color-pinkpurple-9;}
.border-y-pinkpurple-10{border-top-color: $ucs-color-pinkpurple-10;border-bottom-color: $ucs-color-pinkpurple-10;}
