// Pink Purple / 青春紫
$ucs-color-pinkpurple: #D91AD9 !default;
$ucs-color-pinkpurple-1: #FFE8FB !default;
$ucs-color-pinkpurple-2: #F7BAEF !default;
$ucs-color-pinkpurple-3: #F08EE6 !default;
$ucs-color-pinkpurple-4: #E865DF !default;
$ucs-color-pinkpurple-5: #E13EDB !default;
$ucs-color-pinkpurple-6: #D91AD9 !default;
$ucs-color-pinkpurple-7: #B010B6 !default;
$ucs-color-pinkpurple-8: #8A0993 !default;
$ucs-color-pinkpurple-9: #650370 !default;
$ucs-color-pinkpurple-10: #42004D !default;
