// Orange / 活力橙
$ucs-color-orange: #FF7D00 !default;
$ucs-color-orange-1: #FFF7E8 !default;
$ucs-color-orange-2: #FFE4BA !default;
$ucs-color-orange-3: #FFCF8B !default;
$ucs-color-orange-4: #FFB65D !default;
$ucs-color-orange-5: #FF9A2E !default;
$ucs-color-orange-6: #FF7D00 !default;
$ucs-color-orange-7: #D25F00 !default;
$ucs-color-orange-8: #A64500 !default;
$ucs-color-orange-9: #792E00 !default;
$ucs-color-orange-10: #4D1B00 !default;
